@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/* MAIN */

body {
  /*font-family: 'Lato', sans-serif;
  font-weight: 300;*/
  font-family: SoinSansPro-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #fff;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* CUSTOM CSS */

img{max-width: 100%;}

p{margin: 0 0 10px 0; line-height: 1;}

h1, h2, h5, h6 {
  font-family: SoinSansPro-Bold;
  font-weight: normal;
  font-style: normal;
}

h1 {
    float: left;
    font-size: 2em;
    color: #333;
}

h2 {
  font-size: 13vw;
  /*font-size: 13em;*/
  /*font-weight: 900;*/
  letter-spacing: -.02em;
  /*color: #fff;*/
  text-shadow: 0 5px 2px rgba(0,0,0,0.3)
}

h3 {
  font-size: 3.2em;
  /*font-weight: 100;*/
  /*text-transform: uppercase;*/
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
  /*font-weight: 900;*/
}

h6 {
  font-size: 1em;
  /*font-weight: 900;*/
}




/* LINKS */
a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

a:link, a:visited {
  color: #fff;
}

a:hover {
  border-bottom: 2px solid orange;
}

a:active {
  border-bottom: 2px solid limegreen;
}




/* MAIN SECTIONS */


.wrapper{
  margin: 0 auto;
  width: 100%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  overflow: auto;
  background-color: #fff;
  border-bottom: 5px solid #004F80;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
/*  padding-bottom: 30px;*/
  overflow: auto;
  background-color: #fff;
  /*border-top: 5px solid #CE2701;*/
}





/*NAVIGATION*/

nav {
  /*width: 75%;*/
  margin: 0 auto;
  margin-right: 20%;
}

nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline;
  color: #333;
  float: right;
}
nav ul li a{
  color: #666;
  text-decoration: none;
}

nav ul li a:hover{
  border-bottom: 1px solid #333;
}

nav:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.top-nav {
  position: relative;
}


.top-nav li {
  border: 1px solid #666;
  line-height: 1.6;
  border-radius: 15px;
  padding: 5px 10px 0;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: SoinSansPro-Bold;
  font-weight: normal;
  font-style: normal;
  font-size: .9em
}


.top-nav li:hover {
  color: rgba(255,255,255, 1);
  background-color: rgba(87, 138, 7, 1);
  border: 1px solid white;
}

.top-nav li:active {
  color: rgba(255,255,255, 1);
  background-color: rgba(170,21,5,1);
  border: 1px solid white;
}


.bot-nav {
  margin-right: 2%;
}


.bot-nav li {
  float: right;
  padding-top: 2px;
  padding-left: 20px;
  color: #333;
  font-size: 1.5em;
}


.bot-nav li a{
  color: #333;
}

.brand {
  width: 15%;
  margin-left: 5%;
  float: left;
}


.credit {
  float: left;
  margin-left: 2%;
  color: #888;
  padding: 8px 0;
}




/* BUTTONS & INPUTS */

button {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
  margin: 30px 0 15px;
  padding: 5px 10px 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


button:hover {
  background: rgba(0,0,0,0.3);
}

input {
  width: 97.5%;
  border:0;
  margin: 8px 0 15px;
  padding:10px 0 10px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}

input[type="submit"]{
  background: red;
  color:white;
}

label {
  font-size: 1.3em;
}

select {
  width: 100%;
  border:0;
  margin: 10px 0 20px;
  padding:25px;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}


/* image color overlay */

/*.frosted-black {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}*/



/* - Bullet Navigation - */
.bullet-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 8.3%;
  top: 20%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1100;
}
.bullet-nav li {
  height: 18px;
  width:90px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;

  padding: 5px 8px;
  /*margin: 30px 0 15px;
  padding: 5px 10px 8px;*/
/*  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6em;*/
/*  color: #fff;*/
/*  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;*/
  /* transition: width 0.2s, height 0.2s, box-shadow 0.4;*/
}

.bullet-nav li a {
  display: inline-block;
  height: 6px;
  width: 90px;
  border-radius: 0px;
 /* transition: width 0.2s, height 0.2s, box-shadow 0.4;*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 8px;
/*  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  /*text-indent: -9000px;*/
  border-left: 2px solid limegreen;
  background: rgba(0, 0, 0, 0.3);
  /*background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px 3px rgba(255, 78, 0, 0.5);*/
  text-transform: uppercase;
  font-size: .8em;
}

.bullet-nav li a:hover {
  background: rgba(0,0,0,0.6);
  border-left: 2px solid rgba(255, 78, 0, 0.9);
}



.bullet-nav li a:active {
/*  width: 8px;
  height: 8px;*/
  border-left: 2px solid rgba(255, 78, 0, 0.9);
  /*box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.4);*/
}
.bullet-nav li:last-child {
  margin-bottom: 0;
}
.bullet-nav .tooltip {
  width: 200px;
  text-align: center;
}
.bullet-nav .tooltip-inner {
  padding: 12px;
}




/* HERO SECTION */

.hero {
  position: relative;
  top: 70px;
  left: 0;
  /*max-width: 1170px;*/
  background-image: url('../images/times_sq_bg_blur_dk.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  height: 750px;
  text-align: center;
}

.hero-intro {
  /*position:relative;*/
  margin: 0 auto;
  padding: 40px 30px 0px;
}

.hero p {
  font-weight: 400;
}

.hero a {
  padding-bottom: 5px;
  border-bottom: 2px solid #FE5D03;
}

.hero a:hover {
  border-bottom: 2px solid #F70;
}

.bot-arrow {
  position: relative;
  top: 60px;
  margin: 0px auto;
  font-size: 4em;
}





/* FORM SECTIONS */

.close-me, .close-me-create {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  color: rgba(255,255,255, 0.5);
}

.close-me:hover, .close-me-create:hover {
  color: rgba(255,255,255, 1);
}

.close-me:active, .close-me-create:active {
  color: rgba(255,255,255, 0.7);
}

.register-scheme, .login-scheme, .create-scheme {
  position: absolute;
  top: 70px;
  left: 0;
  height: 520px;
  padding: 120px 0;
  background: linear-gradient(to bottom, #ea2803 0%, #ff6600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*text-align: center;*/
}


.register-scheme div, .login-scheme div, .create-scheme div {
  margin: 0px auto;
  padding: 0;
  /*border: 1px solid white;*/
}


.register-scheme h3, .login-scheme h3, .create-scheme h3, .edit-scheme h3 {
  margin: 0px auto 40px;
  padding: 0;
  text-align: center;
  /*border: 1px solid white;*/
}


.register-scheme button, .login-scheme button, .create-scheme button {
  width: 100%;
  /*margin-top: 20px;*/
  text-align: center;
}

.login-scheme {
  background: linear-gradient(to bottom, #96007f 2%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.create-scheme {
  background: linear-gradient(to bottom, #0F9401 0%, #9FF732 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 60px;
}

.create-scheme h3 {
  margin-bottom: 10px;
}

.create-scheme input {
  margin: 6px 0 10px;
}

.create-scheme select {
  margin: 6px 0 10px;
}


.list-scheme {
  /*background: linear-gradient(to bottom, #1c1c1c 0%,#595959 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0);
  border-right: 2px solid white;
  padding-top: 60px;

}


#create-side, #edit-side {
  width: 90%;
  margin: 0 auto;
}


#create-side input, #edit-side input {
  margin: 3px 0 10px;
  padding: 3px;
  font-size: 1em;
}

#create-side label, #edit-side label {

}

#create-side select, #edit-side select {
  margin: 3px 0 10px;
}

.edit-scheme {
  background: linear-gradient(to bottom, #017de1 0%,#0aaefb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 60px;
}

.edit-scheme h3 {
  margin-bottom: 10px;
}

.sidebar {
  position: fixed;
}

.sidebar h3 {
  font-size: 2em;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 10px;
}

.sidebar .close-me, .sidebar .close-me-create {
  top: 15px;
  right: 15px;
  font-size: 1em;
}

.sidebar input, .sidebar label, .sidebar select {
  font-size: 1em;
}

.sidebar button {
  margin-top: 10px;
  width: 100%;
}

.rev-list {
  position: relative;
}

.rev-list h3 {
  font-size: 1.3em;
}

.rev-list label {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 1.5em;
}

.add-rev {
  position: fixed;
  top: 120px;
  left: 24%;
  width: 10px;
  height: 10px;
  padding: 10px;
  /*border: 2px solid rgba(255,255,255, 0);*/
  border-radius: 50%;
  /*background: linear-gradient(to bottom, #24a800 0%,#9ecb2d 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  z-index: 2600;
}



/* MESSAGES */

.messages-container {
  position: fixed;
  top: 0px;
  right: 3%;
  width: 150px;
  height: 75px;
/*  margin-top: 10px;*/
  padding: 10px;
  background: linear-gradient(to bottom, #24a800 0%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: auto;
  z-index: 9100;
}

.messages-container h6 {
  padding-top: 5px;
  font-size: 1em;
}

.user-messages {
  padding-top: 5px;
  font-size: 1em;
  color: #fff;
}


.rev-info {
  position: fixed;
  top: 190px;
  right: 0;
  width: 270px;
  height: 40px;

  background-color: rgba(0,0,0,0.5);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,255,255,0);
  border-left-color: limegreen;
}

.rev-info h5 {
  padding: 12px 10px;
}




/* REV LIST CONTAINER */

.billboard-post {
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 10px 5%;
}

/*.billboard-post p {
  padding-top: 0;
  padding-bottom: 0;
}*/

.rev-item p {
  padding-top: 0px;
}

.rev-button {
  position: absolute;
  top: 3px;
  right: 3px;
  display: inline;
  width: 25%;
  overflow: auto;
}

.save-rev {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  /*border-radius: 50%;*/
}

.billboard-post button {
  width: 75px;
  height: 25px;
  margin: 3px;
  padding: 3px;
  font-size: .7em;
  border: 0;
  border-left: 3px solid rgba(0,0,0,0);
  /*border-radius: 50%;*/
  text-align: left;
}

.billboard-post button:hover {
  border-left: 3px solid limegreen;
  /*background-color: limegreen;*/
}

.billboard-post button:active {
  border-left: 3px solid orangered;
  /*background-color: orangered;*/
}



.billboard-post:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}





/* TOGGLE HIDDEN MENU */

#toggler {
  display: none;
}

#toggler ~ #user-revs {
  max-height: 0;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
/*  border-top: 2px solid black;*/
  transition: max-height 1s;
}

#toggler:checked ~ #user-revs {
  max-height: 100vh;
}

/*#toggler ~ label {
  rotation: 0deg;
  transition: transform 0.3s;
}


#toggler ~ label {
  transform: rotate(180deg);
}*/






/* Z-INDEX STRUCTURE */

header{
  z-index: 8950;
}

footer {
  z-index: 8900;
}

.bullet-nav ul {
  z-index: 7000;
}

.mono-photo {
  width: 100%;
/*  max-height: 780px;*/
  margin: 0 auto;
  background-image: url('../images/times_sq_bg_blur_mono.jpg');
  background-size: cover;
  background-position: center;
}

/*#slider {
  position: absolute;
  left: 25%;
  z-index: 2750;
}*/

.buttons-container {
  position: absolute;
  z-index: 2700;
}

.add-rev {
  z-index: 2600;
}

.rev-list label {
  z-index: 2550;
}

.rev-info {
  z-index: 2500;
}

.rev-views {
  z-index: 2400;
}

.create-scheme {
  top: 120px;
  z-index: 2200;
}

.edit-scheme {
  position: absolute;
  top: 120px;
  left: 25%;
  z-index: 2300;
}

.list-scheme {
  position: fixed;
  top: 120px;
  padding-top: 20px;
  left: 0;
  z-index: 2100;
}


.front-view {
  position: relative;
  z-index: 1400;
}

.left-persp-front {
  position: relative;
  z-index: 1350;
}

.left-persp-left {
  position: relative;
  z-index: 1325;
}

.left-persp-view {
  position: relative;
  z-index: 1300;
  width: 1170px;
/*  top: -825px;
  left: 1170px;*/
  height: 780px;
  margin: 0 auto;
  background: url('../images/billboard_lft_persp.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid white;
}


.right-persp-view {
  position: relative;
  z-index: 1250;
  width: 1170px;
/*  top: -1650px;
  left: 2340px;*/
  height: 780px;
  margin: 0 auto;
  background: url('../images/billboard_rt_persp.jpg');
  background-size: cover;
  background-position: center;
  /*border-top: 4px solid white;*/
}




/*.title-treatment {

}

.subtext01-treatment {

}

.subtext02-treatment {

}*/



.front-persp-view {
  position: relative;
  /*z-index: 1200;*/
  /*top: 780px;*/
  height: 780px;
/*  background: url('../images/billboard_lft_persp.jpg');
  background-size: cover;
  background-position: center;*/
}


.panel-label-container {
  position: relative;
  top: -220px;
}

.panel-label {
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}







/* FRONT/CONTENT VIEW SECTION */

.front-view {
/*  top: 70px;
  left: 0;*/
  width: 100%;
  max-width: 1170px;
  background-image: url('../images/times_sq_bg_blur_mono.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 120px;
  height: 780px;
  text-align: center;
  border-bottom: 4px solid white;
}

.video-wall {
  position: relative;
  background-image: url('../images/video_wall.jpg');
  width: 1300px;
  height: 306px;
  width: 1070px;
  height: 252px;
  margin: 200px auto 0;
  background-repeat: no-repeat;
  /*padding-top: 120px;*/
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to bottom, #1c1c1c 0%, #595959 100%);
  /*background: linear-gradient(to bottom, #ff00ff 0%, #aa00aa 100%);*/
  box-shadow: 6px 10px 8px rgba(0,0,0,0.5);
}


.left-panel, .right-panel {
  position: relative;
  top: 0px;
  /*width: 172px;*/
  /*width: 13.23%;*/
  height: 252px;
  width: 17%;
  /*border: 5px solid green;*/
  background-size: cover;
  background-position: center;
  overflow:hidden;
}

.mid-panel {
  position: relative;
  /*width: 956px;*/
  top: 0px;
  width: 66%;
  height: 252px;
  /*border: 3px solid red;*/
  /*background-color: green;*/
  border-left: 3px solid rgba(0,0,0,0.5);
  border-right: 3px solid rgba(0,0,0,0.5);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}



.title-treatment {
  position: relative;
  font-family: SoinSansPro-Bold;
  font-weight: normal;
  font-style: normal;
  font-size: 8em;
  text-align: center;
  margin: auto;
  text-shadow: 0 5px 2px rgba(0,0,0,0.3)
}


.subtext01-treatment, .subtext02-treatment {
  position: relative;
  font-size: 2.3em;
  text-align: center;
  margin: auto;
  text-shadow: 0 5px 2px rgba(0,0,0,0.3)
}


/*.panel-label {
  margin: 20px auto;
}*/


/*.box {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}*/






/* FLEXBOX */


.flexbox-align-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}



.flexbox-stretch-vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-content: stretch;
}


.buttons-container {
  position: absolute;
  left: 25%;
}

.buttons-container:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

/*#slider{
  width: 580px;
  margin:10px;
  background-color:#ff0;
}*/



/* ANIMATION OVERLAY BOXES */

.myClass1, .myClass2, .myClass3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.2);
  background-blend-mode: color-dodge;
}


.myClass1 {
  width: 400px;
  height: 400px;
  left: 150px;
}

.myClass3 {
  top:60px;
  left: 70px;
}





/* MISC CLASSES */

.clearfix {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.hidden {
  display: none;
}

.left {
  float: left;
}





/* COLOR SCHEME BACKGROUNDS */

.color-scheme-red {
  background: linear-gradient(to bottom, #8f0222 4%,#db0444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-orange {
  background-image: '../images/grad-orange.svg';
  /*background: linear-gradient(to bottom, #ea2803 0%, #ff6600 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*text-align: center;*/
}

.color-scheme-gold {
  background: linear-gradient(to bottom, #ea5507 0%,#f9a600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-green {
  background: linear-gradient(to bottom, #0F9401 0%, #9FF732 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-blue {
  background: linear-gradient(to bottom, #017de1 0%, #0aaefb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-purple {
  /*background: purple;*/
  background: linear-gradient(to bottom, #96007f 2%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-pink {
  /*background: purple;*/
  background: linear-gradient(to bottom, #ef017c 0%,#ff5db1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.color-scheme-slate {
  background: linear-gradient(to bottom, #1c1c1c 0%, #595959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-scheme-silver {
  background: linear-gradient(to bottom, #b5c6d0 0%, #e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}





/* VELOCITY PARTICLES */


/** {
      pointer-events: none;
    }*/

    #container {
      perspective: 50px;
      -webkit-perspective: 50px;
      -moz-perspective: 50px;
      -ms-perspective: 50px;

      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      -moz-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;

      opacity: 0.55;
    }

    #logoDot {
      color: #d74580;
    }

    .dot {
      position: fixed;
      width: 30px;
      height: 30px;

      border-radius: 30px;
      background-color: #4bc2f1;
    }




canvas {
  background: #023;
  display: block;
}




/* SNOW */

.snow{
  background: none;
  /*font-family: Androgyne;*/
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:100;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}








/* CLIPPING PATHS */

.front-view-clip {
  position: relative;
  top: -252px;
  /*left:2%;*/
  margin: 0 auto;
  width: 1070px;
  height: 252px;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}


.left-persp-clip {
  position: relative;
  -webkit-clip-path: polygon(24% 100%, -4% 23%, 0% 0%, 100% 0%, 100% 100%);
  clip-path: polygon(24% 100%, -4% 23%, 0% 0%, 100% 0%, 100% 100%);
}


.right-persp-clip {
  position: relative;
  -webkit-clip-path: polygon(24% 100%, 4% 22%, 0% 0%, 100% 0%, 100% 100%);
  clip-path: polygon(24% 100%, 4% 22%, 0% 0%, 100% 0%, 100% 100%);
}


/* PERSPECTIVE */


.cube-frt-lft {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(9deg) rotateY(75deg) rotateZ(6deg);
  transform: rotateX(9deg) rotateY(75deg) rotateZ(6deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cube-frt-rt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(27deg) rotateY(-32deg) rotateZ(-7deg);
  transform: rotateX(27deg) rotateY(-32deg) rotateZ(-7deg);
}

.container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}



.mid-panel-lft-persp {
  position: relative;
  width: 702px;
  height: 252px;
  top: 329px;
  left: -145px;
  /*background-color: green;*/
  overflow: hidden;
}


.left-panel-lft-persp {
  position: relative;
  z-index: 10;
  top: 341px;
  left: -253px;
  /*background-color: purple;*/
  overflow: hidden;
}


.mid-panel-rt-persp {
  position: relative;
  width: 702px;
  height: 252px;
  top: 358px;
  left: 31px;
  /*background-color: green;*/
  overflow: hidden;
}


.right-panel-rt-persp {
  position: relative;
  z-index: 10;
  top: 355px;
  left: -213px;
  /*background-color: purple;*/
  overflow: hidden;
}






.persp-holder-lft-md {
  position: relative;991px;
  perspective: 991px;
}

.panel-persp-l-lft {
  position: relative;
  width: 214px;
  height: 242px;
  z-index:40;
  -webkit-transform: rotateY(-107deg) translateX(-8.1em) translateZ(-13em);
  transform: rotateY(-107deg) translateX(-8.1em) translateZ(-13em);

}

.panel-persp-l-mid {
  position: relative;
  -webkit-transform: translateZ(2em);
  transform: translateZ(2em);
}




.persp-holder-rt-md {
  position: relative;
  -webkit-perspective: 663px;
  perspective: 663px;
}

.panel-persp-r-rt {
  position: relative;
  width: 234px;
  height: 252px;
  z-index:40;
  -webkit-transform: rotateY(76deg) translateZ(10em);
  transform: rotateY(76deg) translateZ(10em);

}

.panel-persp-r-mid {
  position: relative;
  -webkit-transform: translateZ(10em);
  transform: translateZ(10em);
}
