@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/*MAIN*/

body {
  /*font-family: 'Lato', sans-serif;
  font-weight: 300;*/
  font-family: SoinSansPro-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #fff;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* Custom CSS */

img{max-width: 100%;}

p{margin: 0 0 10px 0; line-height: 1;}

h2, h5, h6 {
  font-family: SoinSansPro-Bold;
  font-weight: normal;
  font-style: normal;
}

h1 {
    /*background-image: url('assets/images/ss_bike.png');*/
    background-size: contain;
    width: 50px;
    height: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

h2 {
  font-size: 13vw;
  /*font-size: 13em;*/
  /*font-weight: 900;*/
  letter-spacing: -.02em;
  /*color: #fff;*/
}

h3 {
  font-size: 3.2em;
  /*font-weight: 100;*/
  /*text-transform: uppercase;*/
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
  /*font-weight: 900;*/
}

h6 {
  font-size: 1em;
  /*font-weight: 900;*/
}




.wrapper{
  margin: 0 auto;
  width: 100%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  min-height: 70px;
  overflow: auto;
  background-color: #fff;
  border-bottom: 5px solid #CE2701;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 8999;
  height: 40px;
  overflow: auto;
  background-color: #fff;
  border-top: 5px solid #CE2701;
}


a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

a:link, a:visited {
  color: #fff;
}

a:hover {
  border-bottom: 2px solid orange;
}

a:active {
  border-bottom: 2px solid limegreen;
}

/*NAVIGATION*/

nav{
  max-width: 100%;
  margin: 0 auto;
}

nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline;
  line-height: 40px;
}
nav ul li a{
  color: #333;
  text-decoration: none;
}

nav ul li a:hover{
  border-bottom: 1px solid #333;
}


.bot-nav li {
  float: right;
  padding-right: 20px;
  color: #333;
  font-size: 1.5em;
}


/* buttons and inputs */

button {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
  margin: 30px 0 15px;
  padding: 5px 10px 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  color: #fff;
}

input {
  width: 97.5%;
  border:0;
  margin: 8px 0 15px;
  padding:10px 0 10px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}

input[type="submit"]{
  background: red;
  color:white;
}

label {
  font-size: 1.3em;
}

select {
  width: 100%;
  border:0;
  margin: 10px 0 20px;
  padding:25px;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}


/* image color overlay */

/*.frosted-black {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}*/






/* hero section */

.hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/times_sq_bg_blur_dk.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  height: 750px;
  text-align: center;
}

.hero-intro {
  /*position:relative;*/
  margin: 0 auto;
  padding: 80px 30px 0px;
}

.hero p {
  font-weight: 400;
}

.hero a {
  padding-bottom: 5px;
  border-bottom: 2px solid #FE5D03;
}

.hero a:hover {
  border-bottom: 2px solid #F70;
}

.bot-arrow {
  position: relative;
  top: 110px;
  margin: 0px auto;
  font-size: 4em;
}





/* form sections */

.close-me, .close-me-create {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  color: rgba(255,255,255, 0.5);
}

.close-me:hover, .close-me-create:hover {
  color: rgba(255,255,255, 1);
}

.close-me:active, .close-me-create:active {
  color: rgba(255,255,255, 0.7);
}

.register-scheme, .login-scheme, .create-scheme {
  position: absolute;
  top: 70px;
  left: 0;
  height: 520px;
  padding: 120px 0;
  background: linear-gradient(to bottom, #ea2803 0%, #ff6600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*text-align: center;*/
}


.register-scheme div, .login-scheme div, .create-scheme div {
  margin: 0px auto;
  padding: 0;
  /*border: 1px solid white;*/
}


.register-scheme h3, .login-scheme h3, .create-scheme h3, .edit-scheme h3 {
  margin: 0px auto 40px;
  padding: 0;
  text-align: center;
  /*border: 1px solid white;*/
}


.register-scheme button, .login-scheme button, .create-scheme button {
  width: 100%;
  /*margin-top: 20px;*/
  text-align: center;
}

.login-scheme {
  background: linear-gradient(to bottom, #a80077 0%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.create-scheme {
  background: linear-gradient(to bottom, #24a800 0%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 60px;
}

.create-scheme h3 {
  margin-bottom: 10px;
}

.create-scheme input {
  margin: 6px 0 10px;
}

.create-scheme select {
  margin: 6px 0 10px;
}


.list-scheme {
  background: linear-gradient(to bottom, #1c1c1c 0%,#595959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 60px;

}


#create-side, #edit-side {
  width: 90%;
  margin: 0 auto;
}


#create-side input, #edit-side input {
  margin: 3px 0 10px;
  padding: 3px;
  font-size: 1em;
}

#create-side label, #edit-side label {

}

#create-side select, #edit-side select {
  margin: 3px 0 10px;
}

.edit-scheme {
  background: linear-gradient(to bottom, #017de1 0%,#0aaefb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 60px;
}

.edit-scheme h3 {
  margin-bottom: 10px;
}

.sidebar {
  position: relative;
}

.sidebar h3 {
  font-size: 2em;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 10px;
}

.sidebar .close-me, .sidebar .close-me-create {
  top: 15px;
  right: 15px;
  font-size: 1em;
}

.sidebar input, .sidebar label, .sidebar select {
  font-size: 1em;
}

.sidebar button {
  margin-top: 10px;
  width: 100%;
}


.rev-list h3 {
  font-size: 1.3em;
}

.add-rev {
  position: absolute;
  top: 120px;
  left: 24%;
  width: 10px;
  height: 10px;
  padding: 10px;
  /*border: 2px solid rgba(255,255,255, 0);*/
  border-radius: 50%;
  /*background: linear-gradient(to bottom, #24a800 0%,#9ecb2d 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  z-index: 2600;
}




/*.icon-lab {
  padding-right: 5px;
}*/


/*.arrow-down {
  width: 100%;
  font-size: 2em;
  float: left;
}

.arrow-down:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}*/

/*.top_nav {
  top: 20px;
}*/

/*.top-nav-register, .top-nav-login {
  display: inline-block;
  width: 200px;
  height: 20px;
  top: 30px;
  padding: 3px;
  border-bottom: 4px solid rgba(170,21,5,1);
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  line-height: .9em;
  color: #333;
}*/

/*.top-nav-register:hover, .top-nav-login:hover {
  border-bottom: 4px solid rgba(87, 138, 7, 1);
}*/

/*.top-nav-register:active, .top-nav-login:active {
  border-bottom: 4px solid rgba(240,80,62, 1);
}*/





.messages-container {
  position: absolute;
  top: 0px;
  right: 100px;
  width: 150px;
  height: 75px;
/*  margin-top: 10px;*/
  padding: 10px;
  background: linear-gradient(to bottom, #24a800 0%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: auto;
  z-index: 9100;
}

.messages-container h6 {
  padding-top: 5px;
  font-size: 1em;
}

.user-messages {
  padding-top: 5px;
  font-size: 1em;
  color: #fff;
}


.rev-info {
  position: absolute;
  top: 120px;
  right: 0;
  width: 270px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-right-color: rgba(255,255,255,0);
}

.rev-info h5 {

}




/* rev container */

.billboard-post {
  position: relative;
  border-top: 2px solid rgba(255,255,255,0.5);
  padding: 10px 5%;
}

/*.billboard-post p {
  padding-top: 0;
  padding-bottom: 0;
}*/

.rev-item p {
  padding-top: 0px;
}

.rev-button {
  position: absolute;
  top: 3px;
  right: 3px;
  display: inline;
  width: 25%;
  overflow: auto;
}

.save-rev {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  /*border-radius: 50%;*/
}

.billboard-post button {
  width: 75px;
  height: 25px;
  margin: 3px;
  padding: 3px;
  font-size: .7em;
  border: 0;
  border-left: 3px solid rgba(0,0,0,0);
  /*border-radius: 50%;*/
  text-align: left;
}

.billboard-post button:hover {
  border-left: 3px solid limegreen;
  /*background-color: limegreen;*/
}

.billboard-post button:active {
  border-left: 3px solid orangered;
  /*background-color: orangered;*/
}



.billboard-post:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}



/* toggle hidden menu */

#toggler {
  display: none;
}

#toggler ~ #user-revs {
  max-height: 0;
  overflow: hidden;
  background: slategrey;
  transition: max-height 1s;
}

#toggler:checked ~ #user-revs {
  max-height: 100vh;
}



/* set z-index structure */

.rev-info {
  z-index: 2500;
}

.rev-views {
  z-index: 2400;
}

.create-scheme {
  top: 120px;
  z-index: 2200;
}

.edit-scheme {
  position: absolute;
  top: 120px;
  left: 25%;
  z-index: 2300;
}

.list-scheme {
  position: absolute;
  top: 120px;
  padding-top: 20px;
  left: 0;
  z-index: 2100;
}


.right-persp-view {
  position: absolute;
  z-index: 1400;
}

.left-persp-view {
  position: absolute;
  z-index: 1300;
}

.front-persp-view {
  position: absolute;
  z-index: 1200;
}

.front-view {
  padding: 0;
  margin: 0;
/*  position: absolute;*/
/*  z-index: 1100;*/
}




/*front view section*/

.front-view {
/*  top: 70px;
  left: 0;*/
  background-image: url('../images/times_sq_bg_blur_mono.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  height: 750px;
  text-align: center;
}

.video-wall {
  position: relative;
/*  background-image: url('../images/video_wall.jpg');
  width: 1300px;
  height: 306px;*/
  width: 1300px;
  height: 306px;
  margin: 40px auto;
  background-repeat: no-repeat;
  /*padding-top: 120px;*/
  border: 1px solid red;
  text-align: center;
  overflow: auto;
}


.left-panel, .right-panel {
  position: relative;
  /*width: 208px;
  height: 245px;*/
  width: 20%;
  background-color: red;
  overflow:hidden;
}

.mid-panel {
  position: relative;
  width:60%;
  background-color: green;
  overflow: hidden;
}

.right-panel {

}


.title-treatment {
  font-size: 8em;
  text-align: center;
  margin: 0 auto;
}


.subtext-treatment {
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
}


.flexbox-align-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}



.flexbox-stretch-vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-content: stretch;
}







.myClass1, .myClass2, .myClass3 {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: purple;
}

.myClass2 {
  background-color: limegreen;
}

.myClass3 {
 background-color: orangered;
}


.animateTest {
}


.clearfix {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.hidden {
  display: none;
}

.left {
  float: left;
}
